<template>
    <div class="list-container container">
        <h1>Results</h1>
        <ul class="list">
            <li class="list-card" v-for="card in cardList" v-bind:key="card.id">
                <router-link v-bind:to="{path: 'card', query: {id: card.id}}">
                    <img v-if="card.image_uris !== undefined" v-bind:src="card.image_uris.normal" />
                </router-link>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    name: 'card-list',
    data: function() {
        return {
            cardList: [],
        };
    },
    created: function() {
        fetch(`https://api.scryfall.com/cards/search?q=${this.$route.query.search}`)
            .then((response) => {
                if (response.status === 200) {
                    return response.json();
                }
            }).then((response) => {
                const {data} = response;
                this.cardList = data;
            });
    },
}
</script>

<style scoped>
.list-card {
    display: inline-block;
    padding: 5px;
}
.list-card img {
    width: 200px;
}
</style>
