<template>
    <div class="card container">
        <img id="card-image" v-bind:src="card.image_uris.normal" />
        <h1>{{card.name}}</h1>
        <h2>{{card.type_line}}</h2>
        <p>{{card.oracle_text}}</p>
    </div>
</template>

<script>
export default {
    name: 'card',
    data: function() {
        return {
            card: undefined
        };
    },
    created: function() {
        fetch(`https://api.scryfall.com/cards/${this.$route.query.id}`)
            .then((response) => {
                if (response.status === 200) {
                    return response.json();
                }
            }).then((response) => {
                this.card = response;
            });
    },
}
</script>

<style scoped>
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card > * {
    padding: 10px;
}
#card-image {
    width: 300px;
}
</style>
