<template>
    <div class="home">
        <p class="home-title"><span class="home-title-bold">magic</span>search</p>
        <Search v-on:search="handleSearch" />
    </div>
</template>

<script>
// @ is an alias to /src
import Search from '@/components/Search.vue';

export default {
    name: 'home',
    components: {
        Search,
    },
    methods: {
        handleSearch: function(search) {
            this.$router.push({
                path: 'cards',
                query: {
                    search,
                },
            });
        }
    }
}
</script>

<style scoped>
.home {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.home-title {
    margin-bottom: 20px;
    color: #fff;
    font-size: 36px;
}
.home-title-bold {
    font-weight: bold;
}
</style>
