<template>
    <div class="search container">
        <input type="text" v-model="value" class="search-input" />
        <button v-on:click="$emit('search', value)" class="search-button"><i class="material-icons">search</i></button>
    </div>
</template>

<script>
export default {
    name: 'Search',
    data: function() {
        return {
            value: '',
        };
    },
}
</script>

<style scoped>
.search {
    display: flex;
    align-items: center;
}
.search-input {
    background: transparent;
    border: 0;
    padding: 5px;
    color: #fff;
    font-size: 20px;
}
.search-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    background: transparent;
    border: 0;
    color: #fff;
    font-size: 20px;
}
</style>
