<template>
    <div class="stars-container">
        <div
            v-for="star in stars"
            v-bind:key="star.id"
            class="star"
            v-bind:style="{top: star.x, left: star.y, animationDelay: star.delay}">
        </div>
        <div class="moon"></div>
    </div>
</template>

<script>
export default {
    name: 'Stars',
    data: function() {
        const stars = [];

        for(let i = 0; i < 100; i++) {
            stars.push({
                id: i,
                x: Math.floor(Math.random() * 100) + '%',
                y: Math.floor(Math.random() * 100) + '%',
                delay: Math.floor(Math.random() * (30)) - 15 + 's',
            });
        }

        return {
            stars,
        }
    }
}
</script>

<style scoped>
@keyframes star-animation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes moon-animation {
    0% {
        right: -5%;
    }
    100% {
        right: 105%;
    }
}
.stars-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.star {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #fff;
    border-radius: 100%;
    animation-name: star-animation;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}
.moon {
    position: absolute;
    top: 10%;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 100%;
    animation-name: moon-animation;
    animation-duration: 600s;
    animation-iteration-count: infinite;
}
</style>
