<template>
    <div id="app">
        <Stars />
        <img src="http://getdrawings.com/img/oklahoma-city-skyline-silhouette-34.png" id="app-city" />
        <div id="app-container">
            <router-view />
        </div>
    </div>
</template>

<script>
// @ is an alias to /src
import Stars from '@/components/Stars.vue';

export default {
    name: 'App',
    components: {
        Stars,
    },
}
</script>

<style>
* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
html {
    font-size: 14px;
    overflow: hidden;
}
#app {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background: linear-gradient(to bottom, #410065, #27003c);
}
#app-city {
    position: absolute;
    bottom: -60px;
    left: 50%;
    max-width: 2000px;
    transform: translateX(-50%);
}
#app-container {
    position: relative;
    width: 100%;
    height: 100%;
}
.container {
    color: #fff;
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.4);
}
</style>
